<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDTg2OHhzMN1CotmfvKJkvHVO5iQYF9U1k</string>
	<key>GCM_SENDER_ID</key>
	<string>12516243840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danielom.GesPro2</string>
	<key>PROJECT_ID</key>
	<string>gespro2-e8161</string>
	<key>STORAGE_BUCKET</key>
	<string>gespro2-e8161.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:12516243840:ios:dee134bfa06556d85b6965</string>
</dict>
</plist>
